[submodule "vendor/docopt"]
	path = vendor/docopt
	url = https://github.com/docopt/docopt.cpp.git
[submodule "vendor/json"]
	path = vendor/json
	url = https://github.com/nlohmann/json.git
[submodule "vendor/googletest"]
	path = vendor/googletest
	url = https://github.com/google/googletest.git
[submodule "vendor/libsndfile"]
	path = vendor/libsndfile
	url = https://github.com/libsndfile/libsndfile.git
[submodule "vendor/rtaudio"]
	path = vendor/rtaudio
	url = https://github.com/thestk/rtaudio.git
[submodule "vendor/libsamplerate"]
	path = vendor/libsamplerate
	url = https://github.com/libsndfile/libsamplerate.git
[submodule "vendor/loris"]
	path = vendor/loris
	url = https://github.com/kellyfitz/loris.git
